.main-page {
  width: 95vw;
  // overflow-y: auto;
  // height: 96.5%;
  padding: 0.5rem;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  .main-hello {
    text-align:center;
    font-size: 2.75em;
    color: $nav-color;
    text-shadow: 0.5rem 0.5rem 0.75rem $black;
    span {
      font-size: 1.5em;
      font-weight:900;
    }
  }
}
