.services-page {
  .main-page-heading {
    display: none;
  }
  display: flex;
  color: $body-background-3;
  background-color: $transparent-background-services;

  .about-section {
    overflow-y: scroll;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-paras, .collab-paras {
      max-width: 60%;
    }
    &::-webkit-scrollbar {
      width: 0.4em;
    }
    /* Scroll bar Track */
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 8.5rem $heading-color;
      box-shadow: inset 0 0 8.6rem $heading-color;
    }
    /**intersection of x and y axes*/
    &::-webkit-scrollbar-corner {
      background: $heading-color;
    }
    /*Scroll bar handle Handle */
    &::-webkit-scrollbar-thumb {
      background: black;
      -webkit-box-shadow: inset 0 0 3.6rem $nav-color;
      box-shadow: inset 0 0 3.6rem $nav-color;
    }
  }

  .section-nav {
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-left: 0.5em;
    a {
      display: block;
      font-size: 0.70em;
      text-decoration: none;
      &.hover-style {
        cursor: pointer;
        color: $nav-color;
      }
    }
  }
  
  @media only screen and (max-width: 1100px) { //1200px and below
    //ipad horizontal
    .about-section {
      overflow: none;
      .about-paras {
        max-width: 75%;
      }
      .collab-paras {
        max-width: 75%;
      }
    }
  }
  @media only screen and (max-width: 900px) { //900px and below
    //ipad vertical
    //iphone horizontal
    .about-section {
      overflow: none;
      .about-paras {
        max-width: 95%;
      }
      .collab-paras {
        max-width: 95%;
      }
    }
    .section-nav {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) { //600px and below
    //iphone vertical
    .about-section {
      overflow: none;
      .about-paras {
        max-width: 95%;
      }
      .collab-paras {
        max-width: 95%;
      }
    }
    .section-nav {
      display: none;
    }
  }
  h1,
  h2,
  h3 {
    margin-top: 0.35em;
    margin-bottom: 0;
    color: $body-background-3;
    font-weight: normal;
    text-shadow: 0.10rem 0.10rem 0.55rem $black;
  }
  ul {
    list-style: none;
  }
  p {
    text-align: left;
    font-size: 1.2em;
  }
  a {
    color: $body-background-3;
    margin: 0;
    padding: 0.05em;
    padding-right: 0.25em;
    padding-left: 0.25em;
  }
  a:hover {
    cursor: pointer;
    color: $nav-color;
  }
  a:focus {
    color: $nav-color;
    outline: 0.15rem dashed $nav-color !important;
  }
  p,
  dl,
  ul {
    margin-top: 0;
    text-shadow: 0.10rem 0.10rem 0.45rem $black;
  }
  dt,
  li {
    font-size: 1.275em;
  }
  dd {
    font-size: 1.2em;
  }
}
