$heading-color: black; //menu blue
$nav-color: white; //yellow //all the hover texts
$text-color: lightgray; //blue backgroundish
$transparent-background-services: black;
$transparent-background-contact: black;
$body-background-3: #B8B8B8;//white //all the texts
$black:black;
