	$heading-color: rgba(4, 107, 153, 1); //menu blue
	$nav-color: rgba(254, 215, 102, 1); //yellow
	$text-color: rgba(71, 115, 170, 1); //blue backgroundish
	$transparent-background-services: rgba(71,115,170,0.80);
	$transparent-background-contact: rgba(71, 115, 170, 0.75);
	$body-background-3: rgb(255, 255, 255); //white
	$black:#000000;