$heading-color: rgba(4, 107, 153, 1);
$nav-color: rgba(254, 215, 102, 1);
$text-color: rgba(71, 115, 170, 1);
$body-background-3: rgb(255, 255, 255);

.services-page {
  .main-page-heading {
    display: none;
  }
  display: flex;
  // justify-content: center;
  .section-nav {
    display:flex;
    align-items: center;
    height: 100%;
    padding-left: 0.5em;
    // position: fixed
    // flex-direction: column;
    a {
      display: block;
      padding: 0.05em;
      padding-right: 0.25em;
      padding-left: 0.25em;
      color: $body-background-3;
      font-size: 0.70em;
      &.hover-style {
        cursor: pointer;
        color: $nav-color;
      }
    }
  }
  
  color: $body-background-3;
  background-color: rgba(
    71,
    115,
    170,
    0.90
  ); //#4773aa; //rgba(71, 115, 170, 0.75);
  // background-color: transparent;;
  ul {
    list-style: none;
  }
  p {
    text-align: left;
    font-size: 1.2em;
  }
  a {
    color: $text-color;
    margin: 0;
  }
  a:hover {
    cursor: pointer;
    color: $nav-color;
  }
  a:focus {
    color: $nav-color;
    outline: 0.15rem dashed $nav-color !important;
  }
  .inline-link {
    padding: 0.05em;
    padding-right: 0.25em;
    padding-left: 0.25em;
    color: $body-background-3;
  }

  .about-section {
    overflow-y: scroll;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-paras {
      max-width: 60%;
    }
    .collab-paras {
      max-width: 60%;
    }
    &::-webkit-scrollbar {
      width: 0.4em;
    }
    /* Scroll bar Track */
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 8.5rem $heading-color;
      box-shadow: inset 0 0 8.6rem $heading-color;
    }
    /**intersection of x and y axes*/
    &::-webkit-scrollbar-corner {
      background: $heading-color;
    }
    /*Scroll bar handle Handle */
    &::-webkit-scrollbar-thumb {
      background: black;
      -webkit-box-shadow: inset 0 0 3.6rem $nav-color;
      box-shadow: inset 0 0 3.6rem $nav-color;
    }
  }
  
  
  .familiar-services-sections {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    text-align: left;
    .services {
      text-align: left;
    }
  }
  @media only screen and (max-width: 900px) { //900px and below
    //ipda vertical
    //iphone horizontal
    .about-section {
      overflow: none;
      .about-paras {
        max-width: 95%;
      }
      .collab-paras {
        max-width: 95%;
      }
    }
    .section-nav {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) { //600px and below
    //iphone vertical
    .about-section {
      overflow: none;
      .about-paras {
        max-width: 95%;
      }
      .collab-paras {
        max-width: 95%;
      }
    }
    .section-nav {
      display: none;
    }
  }
  h1,
  h2,
  h3 {
    margin-top: 0.35em;
    margin-bottom: 0;
    color: $body-background-3;
    font-weight: normal;
  }

  p,
  dl,
  ul {
    margin-top: 0;
  }

  dt,
  li {
    font-size: 1.275em;
  }

  dd {
    font-size: 1.2em;
  }
}
